<div class="container col-xs-12">
  <div class="row">
    <div class="sidebar col-xs-2">
      <h5><strong>Filter connections</strong></h5>
      <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn">Dropdown</button>
        <div id="myDropdown" class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
        <div id="myDropdown" class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
        <div id="myDropdown" class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
        <div id="myDropdown" class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
        <div id="myDropdown" class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
        <div id="myDropdown" class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>





      <ul class="list-unstyled">
        <li><a href="#" id="people">People</a></li>
        <li><a href="#" id="pets">Pets</a></li>
        <li><a href="#" id="boats">Boats</a></li>
        <li><a href="#" id="sale">Sale Items</a></li>
      </ul>
      <hr>
      <h5><strong>Prep By Price</strong></h5>
      <ul class="list-unstyled">
        <li><a href="#" id="under50">Under $50</li>
        <li><a href="#" id="50to100">$50-$100</li>
        <li><a href="#" id="100to750">$100-$950</li>
        <li><a href="#" id="over950">Over $950</li>
      </ul>
    </div>
      <!-- <div class="row"> -->
          {{#each users}}
          <div class="col-xs-5"
            data-id="{{ users }}"
            data-category="{{ user_name }} {{ location }} {{ developer_type }} {{ age }} {{ gender }}">
            <div class=" panel panel-default"> <!-- panel default -->
              <div class="panel-body text-center"> <!-- panel body -->
                <div class="col-xs-6">
                  <img src="{{img_url}}" href="/connections/{{ this.id }}" alt={{user_name}} width="250">
                </div>
                <div class="col-xs-6 text-center">
                 <ul class="text-left">
                   <li class="li-attr">Name: {{first_name}} {{last_name}}</li>
                   <li class="li-attr">Username: {{user_name}}</li>
                   <li class="li-attr">Location: {{location}}</li>
                   <li class="li-attr">Stack: {{developer_type}} </li>
                   <li class="li-attr">Age: {{age}}</li>
                   <li class="li-attr">Gender: {{gender}}</li>
                 </ul>
                </div>
              </div>
              </div> <!-- panel body -->
            </div> <!-- panel default -->
          <!-- </div> -->
          {{/each}}
  </div>
</div>
