<div class="container-fluid">
          <div class="sidebar col-xs-2">
            <h2>Filter Connections</h2>
            <div class="dropdown">
              <select id="location" name="location">
                 <option value="austin">Austin</option>
                 <option value="sanfrancisco">San Francisco</option>
                 <option value="portland">Portland</option>
                 <option value="seattle">Seattle</option>
              </select>
            </div>
            <div class="dropdown">
              <select id="stack" name="stack">
                <option value="frontend">Front End</a>
                <option value="backend">Back End</a>
                <option value="fullstack">Full Stack</a>
                </select>
              </div>
            </div>

      <div class="col-xs-10">
          {{#each users}}
          <div class="col-xs-6"
            data-id="{{ users }}"
            data-category="{{ user_name }} {{ location }} {{ developer_type }} {{ age }} {{ gender }}">
            <div class=" panel panel-default"> <!-- panel default -->
              <div class="panel-body text-center"> <!-- panel body -->
                <div class="col-xs-6">
                  <a href="/connections/{{ this.id }}">
                    <img class= "img-circle" src="{{img_url}}" alt={{user_name}} width="250">
                  </a>
                </div>
                <div class="col-xs-6 text-center">
                  <h4 class="index-username"><strong>{{user_name}}</strong></h4>
                  <p class="index-info">{{location}}</p>
                  <p class="index-info">{{developer_type}}</p>
                  <p class="index-info">{{age}}</p>
                  <p class="index-info">{{gender}}</p>
                </div>
              </div>
              </div>
            </div>
          {{/each}}
  </div>
</div>
