<div class="container col-xs-12">

          <div class="sidebar col-xs-2">
            <h2>Filter Connections</h2>
            <div class="dropdown">
              <button onclick="myFunction()" class="dropbtn">Location</button>
              <div id="myDropdown" class="dropdown-content">
                <a href="#">Austin</a>
                <a href="#">Portland</a>
                <a href="#">San Francisco</a>
                <a href="#">Seattle</a>
              </div>
            </div>
            <div class="dropdown">
              <button onclick="myFunction()" class="dropbtn">Stack</button>
              <div id="myDropdown" class="dropdown-content">
                <a href="#">Front End</a>
                <a href="#">Back End</a>
                <a href="#">Full Stack</a>
              </div>
            </div>
        </div>

      <!-- <div class="row"> -->
      <div class="col-xs-10">
          {{#each users}}
          <div class="col-xs-5"
            data-id="{{ users }}"
            data-category="{{ user_name }} {{ location }} {{ developer_type }} {{ age }} {{ gender }}">
            <div class=" panel panel-default"> <!-- panel default -->
              <div class="panel-body text-center"> <!-- panel body -->
                <div class="col-xs-6">
                  <img src="{{img_url}}" href="/connections/{{ this.id }}" alt={{user_name}} width="250">
                </div>
                <div class="col-xs-6 text-center">
                 <ul class="text-left">
                   <li class="li-attr">Username: {{user_name}}</li>
                   <li class="li-attr">Location: {{location}}</li>
                   <li class="li-attr">Stack: {{developer_type}} </li>
                   <li class="li-attr">Age: {{age}}</li>
                   <li class="li-attr">Gender: {{gender}}</li>
                 </ul>
                </div>
              </div>
              </div> <!-- panel body -->
            </div> <!-- panel default -->
          <!-- </div> -->
          {{/each}}
  </div>
</div>
