<div class="col-md-12">
      <!-- <div class="row"> -->
          {{#each users}}
          <div class="col-md-6 activity"
            data-id="{{ users }}"
            data-category="{{ username }} {{ location }} {{ stack }} {{ age }} {{ gender }}">
            <div class=" panel panel-default"> <!-- panel default -->
              <div class="panel-heading"> <!-- panel heading -->
                <a class="thumb-title" href="./activities/{{id}}">{{title}}</a>
              </div> <!-- panel heading -->
              <div class="panel-body text-center"> <!-- panel body -->
                <div class="col-md-6">
                  <img src={{img_url}} alt={{user_name}} width="250">
                </div>
                <div class="col-md-6 text-center">
                 <ul class="text-left">
                   <li class="li-attr">Username: {{user_name}}</li>
                   <li class="li-attr">Location: TO FINISH</li>
                   <li class="li-attr">Stack: TO FINISH </li>
                   <li class="li-attr">Age: TO FINISH</li>
                   <li class="li-attr">Gender: TO FINISH</li>
                 </ul>
                 <span class="label label-primary">{{user_name}}</span>
                </div>
              </div>
              </div> <!-- panel body -->
            </div> <!-- panel default -->
          <!-- </div> -->
          {{/each}}
      </div>
