<div class="col-md-12">
      <!-- <div class="row"> -->
          {{#each user}}
          <div class="col-md-6 activity"
            data-id="{{ users }}"
            data-category="{{ username }} {{ location }} {{ stack }} {{ age }} {{ gender }}">
            <div class=" panel panel-default"> <!-- panel default -->
              <div class="panel-heading"> <!-- panel heading -->
                <a class="thumb-title" href="./activities/{{id}}">{{title}}</a>
              </div> <!-- panel heading -->
              <div class="panel-body text-center"> <!-- panel body -->
                <div class="col-md-6">
                  <img class="img_url" src="{{img_url}}" alt="{{username}">
                </div>
                <div class="col-md-6 text-center">
                 <ul class="text-left">
                   <li class="li-attr">Username: </li>
                   <li class="li-attr">Location</li>
                   <li class="li-attr">Stack:</li>
                   <li class="li-attr">Age:</li>
                   <li class="li-attr">Gender:</li>
                 </ul>
                 <span class="label label-primary">{{username}}</span>
                </div>
              </div>
              </div> <!-- panel body -->
            </div> <!-- panel default -->
          <!-- </div> -->
          {{/each}}
      </div>
