<div class="container profile-container">
{{#each user }}
<h1 class="main-title-profile"> {{user_name}} </h1>
<h3 class="profile-content">{{first_name}} {{last_name}}</h3>
<hr>
<img class="profile-img" src={{img_url}}>
<br>
<p class= "profile-content">{{skills}}</p>
{{/each}}
<a href="/" type="button" name="button" class="btn btn-success">Homepage</a>
</div>
