<body>
	<div class="container">
		<div class="row main">
			<div class="main-login main-center">
			<h5>Please create an account.</h5>
				<form method="POST" action="/users/{{ user.id }}?_method=PUT">

					<div class="form-group">
						<label for="name" class="cols-sm-2 control-label">First Name</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
								<input type="text" class="form-control" name="first_name" id="first_name" value="{{ user.first_name }}" required>
							</div>
						</div>
					</div>

					<div class="form-group">
						<label for="name" class="cols-sm-2 control-label">Last Name</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
								<input type="text" class="form-control" name="last_name" id="last_name" value="{{ user.last_name }}" required>
							</div>
						</div>
					</div>

					<div class="form-group">
						<label for="username" class="cols-sm-2 control-label">Username</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
								<input type="text" class="form-control" name="user_name" id="user_name" value="{{ user.user_name }}" required>
							</div>
						</div>
					</div>

					<div class="form-group">
						<label for="email" class="cols-sm-2 control-label">Email</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
								<input type="text" class="form-control" name="email" id="email" value="{{ user.email }}" required>
							</div>
						</div>
					</div>

					<div class="form-group">
						<label for="img_url" class="cols-sm-2 control-label">Image URL</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
								<input type="text" class="form-control" name="img_url" id="img_url"  placeholder="Enter picture URL">
							</div>
						</div>
					</div>

					<div class="form-group">
						<label for="img_url" class="cols-sm-2 control-label">Add a Bio</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
								<input type="text" class="form-control" name="bio" id="bio"  placeholder="Share who you are">
							</div>
						</div>
					</div>

					<div class="form-group">
						<label for="skills" class="cols-sm-2 control-label">List Your Skills</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
								<input type="text" class="form-control" name="skills" id="skills"  placeholder="What are your skills">
							</div>
						</div>
					</div>

					<div class="form-group">
						<input type="submit" id="button" class="btn btn-primary btn-lg btn-block login-button"></input>
					</div>

				</form>
			</div>
		</div>
	</div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>
</body>
