<p> This is your profile page </p>
{{#each user }}
<p>First name:{{first_name}}</p>
<p>Last name:{{last_name}}</p>
<p>User name:{{user_name}}</p>
<p>Email:{{email}}</p>
<p>Hashed pw:{{hashed_password}}</p>
{{/each}}
