<div class="container">
{{#each user }}
<h1 class="main-title-profile"> {{user_name}} </h1>
<img src="{{profile_url}}">
<p>First name:{{first_name}}</p>
<img class="profile-img" src={{img_url}}>
<p>Last name:{{last_name}}</p>
<a href="/profile/{{ user.id }}/edit" type="button" name="button" class="btn btn-info">Edit Profile</a>
<a href="/" type="button" name="button" class="btn btn-success">Homepage</a>
{{/each}}
</div>
