<div class="container profile-container">
{{#each user }}
<h1 class="main-title-profile"> {{user_name}} </h1>
<h3 class="profile-content">{{first_name}} {{last_name}}</h3>
<hr>
<img class="profile-img center-block" src={{img_url}}>
<a class="btn btn-block btn-twitter">
   <span class="fa fa-twitter"></span> Sign in with Twitter
 </a>
<p class= "profile-content">{{bio}}</p>
<p class= "profile-content">{{skills}}</p>
<a href="/users/edit" type="button" name="button" class="btn btn-info">Edit Profile</a>
<a href="/" type="button" name="button" class="btn btn-success">Homepage</a>
{{/each}}
</div>
