<h1 class="bongo"> This is your profile page </h1>
{{#each user }}
<p>First name:{{first_name}}</p>
<p>Last name:{{last_name}}</p>
<p>User name:{{user_name}}</p>
<p>Email:{{email}}</p>
<a href="/profile/{{ user.id }}/edit" type="button" name="button" class="btn btn-info">Edit Profile</a>
<a href="/" type="button" name="button" class="btn btn-success">Homepage</a>
{{/each}}
