<body>
	<div class="container">
		<div class="row main">
			<div class="main-login main-center">
			<h5>Edit your account details</h5>
				<form method="POST" action="/users?_method=PUT" class="well">

					<div class="form-group">
						<label for="name" class="cols-sm-2 control-label">First Name</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
								<input type="text" class="form-control" name="first_name" id="first_name" value="{{ user.first_name }}" required>
							</div>
						</div>
					</div>

					<div class="form-group">
						<label for="name" class="cols-sm-2 control-label">Last Name</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
								<input type="text" class="form-control" name="last_name" id="last_name" value="{{ user.last_name }}" required>
							</div>
						</div>
					</div>

					<div class="form-group">
						<label for="gender" class='cols-sm-2 control-label'>gender</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
								<select class="form-control" id="gender" name="gender">
									<option value="Female">Female</option>
									<option value="Male">Male</option>
									<option value="Other">Other</option>
								</select>
							</div>
						</div>
					</div>

					<div class="form-group">
						<label for="developer_type" class='cols-sm-2 control-label'>Developer Type</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
								<select class="form-control" id="developer_type" name="developer_type">
									<option value="Female">Frontend</option>
									<option value="Male">Backend</option>
									<option value="Other">Fullstack</option>
								</select>
							</div>
						</div>
					</div>

					<div class="form-group">
						<label for="username" class="cols-sm-2 control-label">Username</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
								<input type="text" class="form-control" name="user_name" id="user_name" value="{{ user.user_name }}" required>
							</div>
						</div>
					</div>

					<div class="form-group">
						<label for="developer_type" class='cols-sm-2 control-label'>Developer Type</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
								<select class="form-control" id="developer_type" name="developer_type">
									<option value="Seattle, WA">Seattle, WA</option>
									<option value="Bend, OR">Bend, OR</option>
									<option value="Portland, OR<">Portland, OR</option>
									<option value="San Francisco, CA">San Francisco, CA</option>
									<option value="Detroit, MI">Detroit, MI</option>
									<option value="Austin, TX">Austin, TX</option>
								</select>
							</div>
						</div>
					</div>

					<div class="form-group">
						<label for="email" class="cols-sm-2 control-label">Email</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
								<input type="text" class="form-control" name="email" id="email" value="{{ user.email }}" required>
							</div>
						</div>
					</div>

					<div class="form-group">
						<label for="img_url" class="cols-sm-2 control-label">Image URL</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
								<input type="text" class="form-control" name="img_url" id="img_url" value="{{ user.img_url }}" placeholder="Enter picture URL">
							</div>
						</div>
					</div>

					<div class="form-group">
						<label for="twitter" class="cols-sm-2 control-label">Twitter Link</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
								<input type="text" class="form-control" name="twitter" id="twitter" value="{{ user.twitter }}" placeholder="Enter Twitter URL">
							</div>
						</div>
					</div>

					<div class="form-group">
						<label for="github" class="cols-sm-2 control-label">Github</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
								<input type="text" class="form-control" name="github" id="github" value="{{ user.github }}" placeholder="Enter Github Link">
							</div>
						</div>
					</div>

					<div class="form-group">
						<label for="linkedin" class="cols-sm-2 control-label">LinkedIn</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
								<input type="text" class="form-control" name="linkedin" id="linkedin" value="{{ user.linkedin }}" placeholder="Enter LinkedIn URL">
							</div>
						</div>
					</div>

					<div class="form-group">
						<label for="img_url" class="cols-sm-2 control-label">Add a Bio</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
								<input type="text" class="form-control" name="bio" id="bio" value="{{ user.bio }}" placeholder="Share who you are">
							</div>
						</div>
					</div>

					<div class="form-group">
						<label for="skills" class="cols-sm-2 control-label">List Your Skills</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
								<input type="text" class="form-control" name="skills" id="skills" value="{{ user.skills }}" placeholder="What are your skills">
							</div>
						</div>
					</div>

					<div class="form-group">
						<input type="submit" id="button" class="btn btn-primary btn-lg btn-block login-button"></input>
					</div>

				</form>
			</div>
		</div>
	</div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>
</body>
